:root{
    --background-color: #222;
    --primary-color: rgb(255, 47, 141);
    --text-color: whitesmoke;
    --cursive-font: 'Alex Brush', cursive;
    --animation-duration: 0.2s;
    --font-family: 'Montserrat', sans-serif;
    --font-size: 1.1rem;
    --margin: 4rem;
    --navbar-color: #00BFB3;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

html{
    scroll-behavior: smooth;
    scroll-padding: 8rem;
}

.title{
    font-size: 1.5rem;
    font-weight: 400;
}

a{
    text-decoration: none;
    &.active{
        color: var(--primary-color);
    }
}

span{
    cursor: default;
}

.section{
    padding-top: 6rem;
    padding-bottom: 6rem;
    padding-inline: 10rem;
    background-color: var(--background-color);
    font-size: var(--font-size);
    color: var(--text-color);
    h1{
        font-size: 3rem;
        margin-bottom: 3rem;
    }
    span{
        color: var(--primary-color);
    }
    section{
        margin-bottom: var(--margin);
    }
    .topic-list{
        margin-block: 1.5rem;
        ul{
            padding-left: 2rem;
            font-size: 1em;
            list-style-type: none ;
            li{
                line-height: 1.5rem;
                transition: 0.2s all ease-in-out;
                cursor: pointer;
               &:hover{
                padding-left: 1rem;
                color: var(--navbar-color);
               }
            }
        }
    }
}

.banner{
    height: 100vh;
    width: 100%;
    background:  linear-gradient(35deg, rgba(35, 35, 35, 0.748), rgba(0, 0, 0, 0.3));
    background-size: cover;
    background-position: center;
    span{
        font-size: 13rem;
        top: 200px;
        left: 100px;
        position: relative;
        font-family: var(--cursive-font);
        color: var(--text-color);
    }  
}

.image-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
        margin-block: calc(var(--margin) / 10 );
        transform: scale(0.8);
    }
}

.exposure{
    #aperture{
        img{
            width: 70%;
        }
    }
    .ImageCard{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
        margin-block: var(--margin);
        img{
            width: 600px !important;
        }
    }
    #reverseFlex{
        flex-direction: row-reverse !important;
    }
}

@import './partials/navbar';
@import './partials/animations';
@import './partials/sidebar';
@import './partials/aboutSection';
@import './partials/footer';
@import './partials/expandGallery';
@import './partials/IsoCard';
@import './partials/gallery';