:root{
    --background-color: #222;
    --primary-color: #EA3788;
    --text-color: white;
    --cursive-font: 'Alex Brush', cursive;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

.banner{
    height: 100vh;
    width: 100%;
    background:  linear-gradient(35deg, rgba(35, 35, 35, 0.748), rgba(0, 0, 0, 0.3)), url('../../public/assets/bird_1.jpg');
    background-size: cover;
    background-position: center;
    position: absolute;
    span{
        font-size: 13rem;
        top: 200px;
        left: 100px;
        position: relative;
        font-family: var(--cursive-font);
        color: var(--text-color);
    }  
}

@import './navbar'