.expand-gallery{
    margin-top: 6rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
    .expand-image{
        width: 130px;
        height: 500px;
        transition: all ease-in-out 0.3s;
        border-radius: 100px;
        object-fit: cover;
        background-size: cover;
        background-position: center;
        &:hover{
            width: 800px;
            height: 500px;
            border-radius: 20px;
        }
    }
}