nav{
    display: flex;
    position: fixed;
    width: 100%;
    padding: 1rem 10rem;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    z-index: 1;
    transition: 0.2s all ease;
    .sidebar-btn{
        display: none;
    }
    span{
        font-family: var(--cursive-font);
        color: var(--primary-color);
        font-size: 2rem;
        letter-spacing: 0.25rem;
    }
    ul{
        list-style: none;
    }
    a{
        padding-inline: 1.5rem;
        font-family: 'Montserrat';
        padding-block: 0.5rem;
        height: 100%;
        font-weight: 600;
        letter-spacing: 1px;
        font-size: 1rem;
        color: var(--text-color);
        transition: 0.2s all ease;
        &:hover{
            color: var(--primary-color);
        }
    }
    li{
        display: inline;
        &.active{
            color: var(--primary-color);
        }
    }
    &.scroll{
        background-color: var(--navbar-color);
    }
}
