.sidebar{
    background-color: transparent;
    backdrop-filter: blur(10px);
    width: 300px;
    height: 100dvh;
    top: 0;
    left: 0;
    position: fixed;
    animation: 0.3s slideInRight ease-in-out;
    .link-section{

    }
    .link{
        margin-top: 1rem;
        display: block;
    }
}